@import "src/theme/theme-variables";

:host {
  width: 25rem;
  height: 30rem;
  display: flex;

  .vote_item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    width: 100%;
    height: 100%;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: 100;

    position: relative;

    &__info {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      padding-bottom: 2rem;

      position: relative;

      &__data {
        &__name {
          font-weight: 400;
          margin: 0;
        }

        &__time {
          font-size: 0.6rem;
          margin: 0;
        }
      }

      &__action {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      &__overlay {
        height: 100%;
        width: 100%;

        position: absolute;

        z-index: 1;
        background-color: #000;
        opacity: 0.1;
        box-shadow: -2px -20px 11px 0px #000;
        pointer-events: none;
      }
    }
  }

  .vote_thumb {
    padding: 0.1rem;
    margin-right: 0.5rem;
    cursor: pointer;
    user-select: none;

    &.selected {
      border: 2px solid white;
    }

    &--readyonly {
      pointer-events: none;
      cursor: default;
    }

    &--up {
      background-color: $vote-up;
    }

    &--down {
      background-color: $vote-down;
    }
  }
}
