/*
 * Application global variables.
 */

// Font
$font-lato: 'Lato', sans-serif;

// Header
$header-fixed: 150px;

// Colors
$home-banner-transparent: rgba(0, 0, 0, 0.19);

// General
$triangle-width: 6.5px;
