<header class="header container">
  <h1 class="header__title">
    <a routerLink="/home">Rule of Thumb</a>
  </h1>
  <nav class="header__navbar">
    <ul class="header__navbar__items">
      <li class="header__navbar__items__item"><a routerLink="/trials" routerLinkActive="active">Past Trials</a></li>
      <li class="header__navbar__items__item"><a routerLink="/how-it-works" routerLinkActive="active">How It Works</a></li>
      <li class="header__navbar__items__item"><a routerLink="/login" routerLinkActive="active">Log in / Sign Up</a></li>
      <li class="header__navbar__items__item">
        <span class="material-icons">
          search
        </span>
      </li>
    </ul>
  </nav>
</header>
