<footer class="footer app_container">
  <div class="footer__links">
    <ul class="footer__items">
      <li class="footer__items__item">Terms and Conditions</li>
      <li class="footer__items__item">Privacy Policy</li>
      <li class="footer__items__item">Contact Us</li>
    </ul>
  </div>

  <div class="footer__social">
    <ul class="footer__items">
      <li class="footer__items__item">Follow Us</li>
      <li class="footer__items__item">
        <fa-icon [icon]="faFacebook" size="2x"></fa-icon>

      </li>
      <li class="footer__items__item">
        <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
      </li>
    </ul>
  </div>
</footer>
